/*Must have animation, responsiveness*/
:root {
    --title-font : "Inter", sans-serif;
    --small-text : "Montserrat", sans-serif;
    --primary-color : #f3e9dc;
    --secondary-color : #3bc14a;
    --background-color: #040f16;
    --text-color: #aaaeb7;
    --extra-color: #234e36;
    --white : #f7fbfb;
}

/* General page elements */

* {
    font-family: var(--small-text);
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;

  background-color: var(--white);
}

/* Keyframes */

/* Header */

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    min-height: 30px;
    border-bottom: var(--text-color) 1px solid;
    text-align: center;
}

header h1 {
    font-family: var(--title-font);
    color: var(--background-color);
    padding: 5px;
}

.logo {
    width: 45px;
    height: 45px;
    margin-left: 25px;
}

/* Main Section */

.current-info {
    padding: 10px;
    border-bottom: var(--text-color) solid 1px;
}

.hourly-prevision {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-bottom: var(--text-color) 1px solid;
    align-content: center;
    padding: 10px;
    text-align: center;
    & h2 {
        grid-column: 1/7;
    }
    & img {
        width: 25px;
        height: 25px;
    }
}

.next-days {
    display: flex;
    flex-direction: column;
}

.next-days img {
    width: 25px;
    height: 25px;
}

/* Footer */

footer {
    display: flex;
    min-height: 50px;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
}

footer button {
    border-radius: 100%;
    border: thin 1px;
    border-color: var(--text-color);
    margin: 5px;
}

footer button img{
    width: 75px;
    height: 75px;
    padding: 5px;
}