/*Must have animation, responsiveness*/
@media (prefers-color-scheme: dark) {
  :root {
   --primary-color : #aaaeb7;
   --secondary-color : #234e36;
   --bg-color : #f7fbfb;
   --border-color : #f3e9dc;
   --text-color : #d3d83f;
   --pure : #040f16;
  }
}
:root {
    --title-font : "Inter", sans-serif;
    --small-text : "Montserrat", sans-serif;
    --primary-color : #f3e9dc;
    --secondary-color : #d3d83f;
    --bg-color: #040f16;
    --border-color: #aaaeb7;
    --text-color: #234e36;
    --pure : #f7fbfb;
}
.dark-mode {
    --primary-color : #aaaeb7;
    --secondary-color : #234e36;
    --bg-color : #fffbf5;
    --border-color : #dbd0c4;
    --text-color : #d3d83f;
    --pure : #040f16;
}

/* General page elements */
* {
    font-family: var(--small-text);
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--pure);
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* Keyframes */
@keyframes slideIn {
  to {
    left: 0;
    opacity: 1;
  }
}

/* Header */
header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    min-height: 30px;
    border-bottom: var(--border-color) 1px solid;
    text-align: center;
    & h1 {
        font-family: var(--title-font);
        color: var(--bg-color);
        padding: 5px;
    }
}

.logo {
    position: relative;
    left: -100px;
    opacity: 0;
    animation: slideIn 1s ease-out forwards;
    width: 45px;
    height: 45px;
}

/* Main Section */

main {
    & h2, h3, p, li {
        color: var(--bg-color);
    }
}

.current-info {
    padding: 10px;
    border-bottom: var(--border-color) solid 1px;
    & h2 {
        font-size:x-large;
    }
}

.hourly-prevision {
    padding: 10px;
    text-align: center;
    border-bottom: var(--border-color) 1px solid;
    & ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        list-style: none;
        & li {
            padding: 5px;
            margin-bottom: 15px;
        }
    }
}

.next-days {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    & ul {
        list-style: none;
        padding: 5px;
        & li {
            border: var(--border-color) 1px solid;
            padding: 5px;
        }
    }
}

/* Footer */
footer {
    display: flex;
    min-height: 50px;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    & button {
        border-radius: 100%;
        border: thin 1px;
        border-color: var(--bg-color);
        background-color: var(--secondary-color);
        margin: 5px;
        cursor: pointer;
        transition: background-color 0.6s ease-in-out;
        & img {
            width: 75px;
            height: 75px;
            padding: 5px;
        }
    }
    & button:hover {
        background-color: var(--border-color);
    }
}